{# Uncomment this if your page uses AJAX
{% set ajax = TRUE %}
#}

{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as form %}


{# this brings in some useful macros for making bootstrap modals
{% import '@util/modalmacro.twig' as f %}
#}

{# put a string in this block that will appear as the title of the page
{% block title %}
{% endblock title %}
#}

{% block links %}
{# <link> for non-css and non-type things#}
{% endblock links %}

{% block type %}
{# <link> for webfonts #}
{% endblock type %}

{% block css %}
{# <link> for any other CSS files you need #}
{% endblock css %}

{% block scripts %}
{# <script src=""></script> for any other JS files you need #}
{% endblock scripts %}

{% block setup %}
{# Any javascript you need that is NOT run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock setup %}

{% block onload %}
{# Any javascript you need that MUST run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock onload %}

{# If you include this, then the navigation bar in @util/page.twig will **NOT** appear
{% block navigation %}
{% endblock navigation %}
#}

{#
    Edit the file navbar.twig to change the appearance of the
    navigation bar. It is included by default from @util/page.twig
#}

{# uncomment this and delete header block to remove the <header> tag altogether
{% block pageheader %}
{% endblock pageheader %}
#}

{#
    If you have a standard header for all (most) pages then put the
    content in the file header.twig. It is included by @util/page.twig by
    default. You then don't need to have a header block either.
#}

{% block header %}
    <article class="col-md-12 mt-5">
        <h1 class="cntr">DOCUMENTS</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            <div class="form-group">
                {% for module in modules %}
                    <form action="#" method="POST">
                        <input type="text" name="moduleCode" value="{{module.code}}" hidden>
                        <input type="submit" name="module" value="{{module.name}}">
                    </form>
                {% endfor %}
            </div>
        </article>
    </section>

    {% for lectureS in lectureSelect %}
        <form action="#" method="POST">
            <input type="text" name="lectureId" value="{{lectureS.id}}" hidden>
            <input type="submit" name="lecture" value="{{lectureS.date}} - {{lectureS.start_time}}">
        </form>
    {% endfor %}
    <hr />

    {% for upload in uploads %}
        <p>Name - {{upload.filename}}</p>
        <p>Description - {{upload.file_description}}</p>
        <p>{{upload.module_code}} - {{upload.module_name}}</p>
        <p>{{upload.date}} - {{upload.lecture_time}}</p>
        <form action="{{base}}/viewdocument" method="GET" class="cntr" role="form" enctype="multipart/form-data" >
            <input type="text" name="uploadid" value="{{upload.upload_id}}" hidden>
            <input type="submit" name="view" value="View">
        </form>
        <form action="#" method="POST" class="cntr" role="form" enctype="multipart/form-data" form="{{upload.id}}" id="{{upload.id}}">
            <input type="text" name="documentid" id="{{upload.upload_id}}" value="{{upload.upload_id}}" hidden />
            <input type="submit" value="Download" id="{{upload.upload_id}}" name="document" />
        </form>
        {% if upload.user_id == userid %}
            <form action="{{base}}/editpost" method="GET" class="cntr" role="form" enctype="multipart/form-data" >
                <input type="text" name="uploadID" value="{{upload.upload_id}}" hidden>
                <input type="text" name="uploadDetailsID" value="{{upload.id}}" hidden>
                <input type="submit" name="edit" value="Edit">
            </form>
        {% endif %}
        {% if (context.hasadmin) or (upload.user_id == userid) %}
            <form action="#" method="POST" class="cntr" role="form" enctype="multipart/form-data" >
                <input type="text" name="deleteb" value="{{upload.upload_id}}" hidden>
                <input type="submit" name="delete" value="Delete">
            </form>
        {% endif %}
        <hr />
    {% endfor %}

{% endblock main %}

{# uncomment this  and delete footer block to remove the <footer> tag altogether
{% block pagefooter %}
{% endblock pagefooter %}
#}

{#
    If you have a standard footer for all (most) pages then put the
    content in the file footer.twig. It is included by @util/page.twig by
    default. You then don't need to have a footer block either.
#}

{% block footer %}
{% endblock footer %}